.header{
    width: 100%;
    height: auto;
    /* background-color: #fff; */
    color: #fff;
    background-color: #0D1821;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    padding-bottom: 40px;
    margin: 0;
}


.logo{
    /* margin-top: 2rem; */
    height: 1rem;
    width: 1rem;
}

.navbar>a{
    text-decoration: none;
    color: #fff;
    font-style: var(--primary-font);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 4px 0;
    
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links>li{
   margin: 0 10px 0 10px;

}

.nav-links>li>a{
    color: #fff; 
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 1em;
    transition: color 0.3s ease-in-out 0s;
}

.nav-links>li>a:hover{
    color: #C0C0C0;
}

button{
    background-color: #006EFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px !important;
    cursor: pointer;
    transition: color 0.3s ease-in-out 0s;
}

button:hover{
    color: #D3D3D3;  
}

.header-section{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    
    /* padding-top: 3rem; */
}

@media screen and (max-width: 1380px) {
    .header-section{
        width: 70%;
    } 
}

@media screen and (max-width: 1170px) {
    .header-section{
        width: 80%;
    }
}

.go-host-info{
    /* padding-right: 1em; */
}

.go-host-info>h1{
    font-style: var(--primary-font);
    font-size: 2.5em;
    /* max-width: 50%; */
}

.go-host-info>p{
    font-style: var(--secondary-font);
    color: #D3D3D3;
    max-width: 50%;
}

.gif{
    padding-top: 3em;
}

.sample-image{
    width: 400px;
    height: auto;
}

@media screen and (max-width: 840px) { 
}