.header{
    width: 100%;
    height: auto;
    color: #fff;
    border-bottom-left-radius: 28%;
    border-bottom-right-radius: 28%;
    padding-bottom: 40px;
    margin: 0;
}

.logo-section{
    display: flex;
    align-items: flex-end;
}

.logo{
    /* margin-top: 2rem; */
    height: 1rem;
    width: 1rem;
}

.navbar>a{
    text-decoration: none;
    color: #fff;
    font-style: var(--primary-font);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    padding: 4px 0;
    
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: right; 
}

.nav-links>li{
   margin: 0 10px 0 10px;

}

.nav-links>li>a{
    color: #fff; 
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 1em;
    transition: color 0.3s ease-in-out 0s;
}

.nav-links>li>a:hover{
    color: #C0C0C0;
}

button{
    background-color: #006EFF;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 15px !important;
    cursor: pointer;
    transition: color 0.3s ease-in-out 0s;
}

button:hover{
    color: #D3D3D3;  
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 65vw;
    margin: auto;
}

.go-host-info>h1{
    font-style: var(--primary-font);
    font-size: 2.5rem;
}

.go-host-info>p{
    font-style: var(--secondary-font);
    color: #D3D3D3;
    max-width: 30vw;
    font-size: 1.2rem;
}

.sample-image{
    width: 400px;
    height: auto;
}

@media screen and (max-width: 1380px) {
    .header-section{
        width: 70vw;
    } 
    .go-host-info>p{
        max-width: 30vw;
    }
}

@media screen and (max-width: 1170px) {
    .header-section{
        width: 80vw;
    }

    /* .go-host-info>p{
        max-width: 40vw;
    } */
}

@media screen and (max-width: 960px) {
    .go-host-info>p{
        max-width: 40vw;
    }
    .sample-image{
        width: 300px;
        height: auto;
    }
}

@media screen and (max-width: 670px) { 
    .header-section{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }
    .go-host-info p, .go-host-info h1{
        max-width: 80vw;
    }
    .gif{
        padding-top: 40px ;
    }
    .sample-image{
        width: 80vw; 
        height: auto;
    }
    .go-host-info>button{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 520px) {
    .go-host-info h1{
        font-size: 2rem;
    }
    .go-host-info p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .go-host-info h1{
        font-size: 1.2rem;
    }
    .go-host-info p{
        font-size: 0.9rem;
    }
    .go-host-info>button{
        font-size: o.9rem;
    }
}
